@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-dot: var(--dot);
  --color-overlay: var(--overlay);
  --color-shadow: var(--shadow);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-state-new: var(--state-new);
  --color-state-learn: var(--state-learn);
  --color-state-due: var(--state-due);
  --color-rating-again: var(--rating-again);
  --color-rating-again-border: var(--rating-again-border);
  --color-rating-hard: var(--rating-hard);
  --color-rating-hard-border: var(--rating-hard-border);
  --color-rating-good: var(--rating-good);
  --color-rating-good-border: var(--rating-good-border);
  --color-rating-easy: var(--rating-easy);
  --color-rating-easy-border: var(--rating-easy-border);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-muted: var(--success-muted);
  --color-new-item: var(--new-item);
  --opacity-shadow: var(--o-shadow);
  --opacity-shadow-muted: var(--o-shadow-muted);
  --opacity-shadow-muted-more: var(--o-shadow-muted-more);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(0.959 0.0338 75.99);
  --foreground: oklch(0.3045 0.0324 77.95);
  --dot: oklch(0.87 0 0);
  --card: oklch(0.959 0.0338 75.99);
  --card-foreground: oklch(0.3045 0.0324 77.95);
  --popover: oklch(0.959 0.0338 75.99);
  --popover-foreground: oklch(0.3045 0.0324 77.95);
  --primary: oklch(0.3925 0.04 76.71);
  --primary-foreground: oklch(0.959 0.0338 75.99);
  --secondary: oklch(0.9296 0.0396 77.17);
  --secondary-foreground: oklch(0.3045 0.0324 77.95);
  --muted: oklch(0.9296 0.0396 77.17);
  --muted-foreground: oklch(0.5621 0.0325 77.32);
  --accent: oklch(0.9296 0.0396 77.17);
  --accent-foreground: oklch(0.3045 0.0324 77.95);
  --destructive: oklch(45.2% 0.14546 22.847);
  --border: oklch(0.8895 0.0467 75.61);
  --input: oklch(0.8895 0.0467 75.61);
  --ring: oklch(0.6762 0.0748 75.74);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.5621 0.0325 77.32);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.959 0.0338 75.99);
  --sidebar-foreground: oklch(0.3045 0.0324 77.95);
  --sidebar-primary: oklch(0.3045 0.0324 77.95);
  --sidebar-primary-foreground: oklch(0.959 0.0338 75.99);
  --sidebar-accent: oklch(0.9296 0.0396 77.17);
  --sidebar-accent-foreground: oklch(0.3045 0.0324 77.95);
  --sidebar-border: oklch(0.8895 0.0467 75.61);
  --sidebar-ring: oklch(0.6762 0.0748 75.74);
  --state-new: oklch(49.111% 0.14953 261.289);
  --state-learn: oklch(53.123% 0.16922 22.318);
  --state-due: oklch(50.782% 0.11015 152.299);
  --rating-again: oklch(86% 0.06335 25.712);
  --rating-again-border: oklch(82% 0.06335 25.712);
  --rating-hard: oklch(87.502% 0.07857 74.619);
  --rating-hard-border: oklch(83% 0.07857 74.619);
  --rating-good: oklch(88.642% 0.01406 258.446);
  --rating-good-border: oklch(84% 0.01406 258.446);
  --rating-easy: oklch(89% 0.048 152.717);
  --rating-easy-border: oklch(84% 0.048 152.717);
  --success: oklch(52.315% 0.15201 147.78);
  --success-foreground: oklch(0.959 0.0338 75.99);
  --overlay: oklch(0.2374 0.028 77.83);
  --shadow: oklch(0.2189 0.0458 77.14);
  --new-item: oklch(77.194% 0.17376 64.545);
  --o-shadow: 12%;
  --o-shadow-muted: 8%;
  --o-shadow-muted-more: 6%;
}

.dark {
  --background: oklch(0.24 0.008 84.59);
  --foreground: oklch(0.959 0.0338 75.99);
  --dot: oklch(0.33 0 0);
  --card: oklch(0.24 0.008 84.59);
  --card-foreground: oklch(0.959 0.0338 75.99);
  --popover: oklch(0.24 0.008 84.59);
  --popover-foreground: oklch(0.959 0.0338 75.99);
  --primary: oklch(0.9413 0.049965 76.8994);
  --primary-foreground: oklch(0.24 0.008 84.59);
  --secondary: oklch(0.2813 0.0094 88.77);
  --secondary-foreground: oklch(0.959 0.0338 75.99);
  --muted: oklch(0.2813 0.0094 88.77);
  --muted-foreground: oklch(0.6657 0.0149 78.23);
  --accent: oklch(0.2813 0.0094 88.77);
  --accent-foreground: oklch(0.959 0.0338 75.99);
  --destructive: oklch(73.045% 0.16385 21.038);
  --border: oklch(0.3196 0.0104 73.54);
  --input: oklch(0.3196 0.0104 73.54);
  --ring: oklch(0.7229 0.0331 75.1);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.7229 0.0331 75.1);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.2813 0.0094 88.77);
  --sidebar: oklch(0.24 0.008 84.59);
  --sidebar-foreground: oklch(0.959 0.0338 75.99);
  --sidebar-primary: oklch(0.959 0.0338 75.99);
  --sidebar-primary-foreground: oklch(0.959 0.0338 75.99);
  --sidebar-accent: oklch(0.2813 0.0094 88.77);
  --sidebar-accent-foreground: oklch(0.959 0.0338 75.99);
  --sidebar-border: oklch(0.3196 0.0104 73.54);
  --sidebar-ring: oklch(0.7229 0.0331 75.1);
  --state-new: oklch(75.885% 0.10381 244.108);
  --state-learn: oklch(74.556% 0.14997 20.303);
  --state-due: oklch(76.716% 0.12483 156.331);
  --rating-again: oklch(33.82% 0.0566 22.055);
  --rating-again-border: oklch(38% 0.0566 22.055);
  --rating-hard: oklch(33.932% 0.05371 55.673);
  --rating-hard-border: oklch(40% 0.05371 55.673);
  --rating-good: oklch(34.975% 0.0583 252.323);
  --rating-good-border: oklch(40% 0.0583 252.323);
  --rating-easy: oklch(34.033% 0.05369 152.032);
  --rating-easy-border: oklch(40% 0.05369 152.032);
  --success: oklch(85.02% 0.17858 154.268);
  --success-foreground: oklch(0.82 0.1 152);
  --overlay: oklch(0.1251 0.0256 90.11);
  --shadow: oklch(0.1251 0.0256 90.11);
  --new-item: oklch(86.736% 0.11547 76.068);
  --o-shadow: 20%;
  --o-shadow-muted: 10%;
  --o-shadow-muted-more: 8%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  .noise {
    filter: url(#noise);
  }
}
